# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local machine
local.properties
**/local.properties

# Native build
.cxx/
**/.cxx/
.externalNativeBuild/
**/.externalNativeBuild/

# Generated
captures/

# macOS
.DS_Store*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
